
body {
	font-size:14px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
}
.login_top_bg {
	background-image: url(login-top-bg.gif);
	background-repeat: repeat-x;
}
.body {	
	background-color: #EEF2FB;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.login-buttom-bg {
	background-image: url(login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	background-image: url(login_bg.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background-image: url(login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	height: 38px;
	width: 100%;
	position: ¹Ì¶¨;
	line-height: 38px;
}
.login_txt_bt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	background-image: url(top-right.gif);
	background-repeat: repeat-x;
}
.txt_bt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: ¹Ì¶¨;
}

.left_bt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.left_bt2_kcfs {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
	padding:0 10px;
}
.titlebt {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding: 5px 20px 0;
}

.left_txt {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	padding-left: 5px;
}
.left_txt2 {
	font-size:14px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	line-height: 20px;
	color: #000000;
}
.left_txt22 {
	font-size:16px;
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	line-height: 30px;
	color: #000000;
	
}
.left_txt222 {
	border: 1px solid #666666;
}
.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}


.menu 
{
font-size:14px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
margin:0px 0 0 70px;;
} 

.menu a, .menu a:visited {
width:150px;
font-weight:bold;
display:inline; 
text-align:center;
padding-top:5px;
text-decoration:none;
height:27px; 
color:#000; 
} 
.menu a:link {
	
width:150px;
font-weight:bold;
display:inline; 
text-align:center;
padding-top:5px;
text-decoration:none;
height:27px; 
color:#000; 
} 
.menu a:hover {
background:url(top_bt.jpg) no-repeat;
width:150px;
font-weight:bold;
} 
.menu a:visited {
	background:url(top_bt.jpg) no-repeat;
width:150px;
font-weight:bold;
display:inline; 
text-align:center;
padding-top:5px;
text-decoration:none;
height:27px; 
color:#f00; 
}

.button_css {
font-size:14px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
padding: 2px 5px;
height: 30px;
}
.fsxz{
font-size:16px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
height: 30px;
line-height: 30px;
border: 1px dashed #b8ec00;
}
.fsxz a ,.fsxz a:visited {
font-size:16px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
height: 30px;
line-height: 30px;
margin:0 10px;
padding: 0px 10px;
color: #000;

}
.fsxz a:hover {
font-size:16px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
height: 30px;
line-height: 30px;

padding: 0px 10px;
color: #f00;
background: #b8ec00;

}
.shuoming {
border: 1px dashed #b8ec00;
margin:2px 2px;
padding:2px 2px;
}
.golb {
border: 1px dashed #b8ec00;
margin:2px 2px;
padding:2px 2px;
}
.myhand{
cursor:pointer;
font-size:14px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
padding: 2px 5px;
height: 30px;}

textarea input {
font-size:14px;
font-family: 'Î¢ÈíÑÅºÚ', Arial, Verdana, Sans-Serif;
}
.class_kcfs {
border: 1px solid #666666;
border-bottom:0;
border-right:0;
margin:2px 2px;
padding:5px 2px;
}
.class_kcfs td {
border: 1px solid #666666;
border-left:0;
border-top:0;
}