BODY {
    color: #606060;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
}
DIV {
    color: #606060;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
}
TD {
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
}
A:link {
    color: #606060;
    font-size: 9pt;
    line-height: 13pt;
    text-decoration: none;
}
A:visited {
    color: #606060;
    font-size: 9pt;
    text-decoration: none;
}
A:active {
    font-size: 9pt;
    text-decoration: none;
}
A:hover {
    color: #EE7313;
    text-decoration: underline;
}
.kbhide {
    display: none;
}
A.T04:link {
    color: #41751A;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.T04:visited {
    color: #41751A;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.T04:hover {
    color: #EE7313;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: underline;
}
A.T04:active {
    color: #EE7313;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.T05:link {
    color: #408DDF;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.T05:visited {
    color: #408DDF;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.T05:hover {
    color: #09B406;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: underline;
}
A.T05:active {
    color: #09B406;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.TBottom:link {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.TBottom:visited {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.TBottom:hover {
    color: #000000;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.TBottom:active {
    color: #000000;
    font-family: "Arial","宋体","Times New Roman";
    text-decoration: none;
}
A.Subject:link {
    color: #154A76;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 10pt;
    text-decoration: none;
}
A.Subject:visited {
    color: #154A76;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 10pt;
    text-decoration: none;
}
A.Subject:hover {
    color: #154A76;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 10pt;
    text-decoration: underline;
}
A.Subject:active {
    color: #154A76;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 10pt;
    text-decoration: none;
}
A.head:link {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}
A.head:visited {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}
A.head:hover {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}
A.head:active {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 9pt;
    font-weight: bold;
    text-decoration: none;
}
.btnButton {
    background-color: #FD8000;
    border-color: -moz-use-text-color;
    border-right: 1pt ridge;
    border-style: ridge;
    border-width: 1pt;
    color: #FFFFFF;
    font-family: 宋体;
    font-size: 9pt;
    font-variant: small-caps;
    height: 15pt;
    text-align: center;
    width: 44pt;
}
INPUT {
    border-color: #D1CFD0;
    border-width: 1px;
    font-size: 12px;
}
.imgstyle {
    border: 1px solid #000000;
}
.liebiao {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: black;
    font-family: "宋体";
    font-size: 9pt;
}
.TextBox {
    background-color: white;
    border-color: #B1B1B1;
    border-right: 1px solid #B1B1B1;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-family: "宋体";
    font-size: 9pt;
}
.imgstyle1 {
    border: 1px solid #ABABAB;
}
.menutb {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 11pt;
    font-weight: bold;
}
.titleFont {
    color: #FF8401;
    font-weight: bold;
}
.Pagebottom {
    background: none repeat scroll 0 0 #B51903;
    color: #FFFFFF;
    font-family: "Geneva","Arial","Helvetica","san-serif";
    text-align: center;
    vertical-align: middle;
}
.Pagebottom2 {
    background: none repeat scroll 0 0 #FECF9B;
    color: #FFFFFF;
    font-family: "Geneva","Arial","Helvetica","san-serif";
    text-align: center;
    vertical-align: middle;
}
.Pagebottom3 {
    background: none repeat scroll 0 0 #FEF9E3;
    color: #FFFFFF;
    font-family: "Geneva","Arial","Helvetica","san-serif";
    text-align: center;
    vertical-align: middle;
}
.subjecttitle td {
    color: #FFFFFF;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 11pt;
    font-weight: bold;
}
.subjecttitle A:link {
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subjecttitle A:visited {
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subjecttitle A:active {
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subjecttitle A:hover {
    color: #EE7313;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subject2title td {
    color: #D52F19;
    font-family: "Arial","宋体","Times New Roman";
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 0.5mm;
    vertical-align: middle;
}
.subject2title A:link {
    color: #D52F19;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subject2title A:visited {
    color: #D52F19;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subject2title A:active {
    color: #D52F19;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.subject2title A:hover {
    color: #D52F19;
    font-size: 9pt;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.Pagebottom3 {
    color: #4C4940;
    line-height: 130%;
    text-align: center;
    vertical-align: middle;
}
.Pagebottom3 A:link {
    color: #4C4940;
    font-size: 9pt;
    text-decoration: none;
}
.Pagebottom3 A:visited {
    color: #4C4940;
    font-size: 9pt;
    text-decoration: none;
}
.Pagebottom3 A:active {
    color: #4C4940;
    font-size: 9pt;
    text-decoration: none;
}
.Pagebottom3 A:hover {
    color: #EE7313;
    font-size: 9pt;
    text-decoration: none;
}
.menutb td {
    color: #FFFFFF;
    font-size: 9pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.menutb A:link {
    color: #FFFFFF;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}
.menutb A:visited {
    color: #FFFFFF;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}
.menutb A:active {
    color: #FFFFFF;
    font-size: 11pt;
    text-decoration: none;
}
.menutb A:hover {
    color: #EE7313;
    font-size: 11pt;
    font-weight: bold;
    text-decoration: none;
}
.contenttable td {
    text-align: left;
    vertical-align: middle;
}
.imgtd {
    text-align: center;
}
#CourseItemList li.ItemOFF {
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0 2px 0 0;
    padding: 0 0 0 6px;
}
#CourseItemList .ItemOFF a {
    background-position: right top;
    background-repeat: no-repeat;
    display: block;
    padding: 10px 14px 3px 8px;
    text-decoration: none;
}
#CourseItemList li.ItemON {
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    margin: 0 2px 0 0;
    padding: 0 0 0 6px;
}
#CourseItemList .ItemON a {
    background-position: right top;
    background-repeat: no-repeat;
    color: #000000;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 16px 4px 10px;
    text-decoration: none;
}
