#tab{
	width:800px;
	height:800px;
	overflow-x:hidden;
}
#title{
	width:720px;
	height:30px;
	border:1px solid #F63;
    background-image: url("../images/rec-nav.png");
	background-repeat:repeat-x;
	}
	#title ul{
		 list-style: none outside none;
		 margin-top: 16px;
		}
	#title li{
		float:left;
		margin-left:15px;
		background-image:url("../images/tab-bg.png");
		background-repeat:repeat-x;
		border:1px solid #F63;
		}
	#title a {
		cursor:pointer;
		text-decoration:none;
		font-size:14px;
		font-weight:bold;
		padding:6px;
		color:#000;
		}

		
		
#content{
	width:700px;
	height:700px;
	padding:20px;
	}
	
	.list {
		width:700px;
		height:700px;
		margin:auto;
		padding:10px;
		}
	.list table{
		width:700px;
		}
	.list th{
		height:30px;
		}
	.list td{
		height:22px;
		font-size:14px;
		cursor: pointer;
		}
	.list label {
		color: #0066CC;
	}
	.page {
		margin-top: 20px;
		margin-left: 150px;
	  }
	.page a{
		text-decoration:none;
		font-size: 12px;
		margin-left: 5px;
		color: #0066CC ;
	}
	
		