BODY {
    color: #606060;
    font-family: "Arial","ו","Times New Roman";
    font-size: 9pt;
}
DIV {
    color: #606060;
    font-family: "Arial","ו","Times New Roman";
    font-size: 9pt;
}
TD {
    font-family: "Arial","ו","Times New Roman";
    font-size: 9pt;
}
.contenttable A:link {
	FONT-SIZE: 9pt; COLOR: #606060; LINE-HEIGHT: 13pt; TEXT-DECORATION: none
}
.contenttable  A:visited {
	FONT-SIZE: 9pt; COLOR: #606060; TEXT-DECORATION: none
}
.contenttable  A:active {
	FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.contenttable  A:hover {
	COLOR: #EE7313 ; TEXT-DECORATION: underline
}

.dvimg a:visited {
    color: #606060;
    font-size: 9pt;
    text-decoration: none;
}
.dvimg a:active {
    font-size: 9pt;
    text-decoration: none;
}
.dvimg a:hover {
    color: #EE7313;
    text-decoration: underline;
}
.contenttable td {
    text-align: left;
    vertical-align: middle;
}
