@CHARSET "gbk";
#right table {
	border: 1px solid #123456;
	border-width: 1px 0 0 1px;
	width: 100%;
}
#right table  tr{
height: 26px;
}
#right table  td {
	border: 1px solid #123456;
	border-width: 0 1px 1px 0;
}